<div class="competition-container" *ngIf="!isLoading && competitions.length > 0; else loadingOrError">
    <h2>Competitions</h2>
    <table class="competition-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Distance (km)</th>
          <th>Start Date</th>
          <th>Location</th>
          <th>Type</th>
          <th>Status</th>
          <th>Season</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let competition of competitions">
          <td>{{ competition.name }}</td>
          <td>{{ competition.distance }}</td>
          <td>{{ competition.startDate | date: 'long' }}</td>
          <td>[{{ competition.latitude }}, {{ competition.longitude }}]</td>
          <td>{{ competition.type }}</td>
          <td>
            <span [class.open]="competition.isOpen" [class.closed]="!competition.isOpen">
              {{ competition.isOpen ? 'Open' : 'Closed' }}
            </span>
          </td>
          <td>{{ competition.season?.name || 'Not assigned' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <ng-template #loadingOrError>
    <div *ngIf="isLoading" class="loading">Loading competitions...</div>
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
  </ng-template>
  